@charset "UTF-8";


.root{
    --cor1:#F2DFE2;
    --cor2:#F2A099;
    --cor3:#F2B4AE;
    --cor4:#261414;
    --cor5:#734C4C;
}

body{
    background-color: #F2DFE2;
}

header {
    background-color: #F2A099;
    border-radius: 7px 0px 0px 0px;
    padding: 3px;
    
}

header > h1{
    text-align: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

nav {
    background-color: #cc7e77;
    border-radius: 0px 0px 9px 9px;
    padding: 3px;
    margin: auto;
    
   
}

nav > a{
    text-align: center;
    margin-right: 4px;
    text-decoration: none;
    color: black;
    
}

nav > a:hover{
    background-color: #f2b4ae;
    border-radius: 3px;
}




main{
    background-color: #F2B4AE;
    border-radius: 7px 7px 0px 0px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

main > a{
    text-decoration: none;
    color: black;
    font-size: 1em;
}

main > a:hover{
    background-color: #f2b4ae;
    border-radius: 3px;
}

main > h1 {
    text-align: center;
}

main > h2{
    text-align: center;
}

main > p{
    text-align: center;
    font-size: 1em;
}

main > img{
    width: 55%;
}

p > strong{
    color: ¨#261414;
}

p > a{
    color: black;
    text-decoration: none;
}

footer{
    background-color: #cc7e77;
    border-radius: 0px 0px 9px 9px;
}
