@charset "UTF-8";


.apresentação img{
    display: flex;
    justify-content: center;
    align-items: center;
}

li > img{
    width: 70%;
}

.chocolate img{
    width: 90%;
}

div img{
    display: flex;
    justify-content: center;
    align-items: center;
}